.bg-whitesmoke{
    background-color: whitesmoke;
}
.whitesmoke{
    color: whitesmoke;
}

.bg-orangered{
    background-color: orangered;
}

.orangered{
    color: orangered;
}

.bg-white{
    background-color: white;
}

.white{
    color: white;
}

.bg-yellow{
     background-color:yellow;
}

.yellow{
    color: yellow;
}

.bg-green{
    background-color: green;
}

.green{
    color: green;
}

.bg-grey{
    background-color: rgb(230, 224, 224);
}

.grey{
    color: rgb(230, 224, 224);
} 