
    header {
        background-image: url(../Imagens/fundo\ 1.jpg);
        text-align:center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-position: center;
        background-size: cover;
        height: auto;
        min-height: 200px;
    }

   /* areas*/

    section{
        height: 100%;
        min-height: 250px;
        padding: 80px 0;
    }

    #propaganda1{
        background-color: orangered;
        
    }

   #demostracao{
        background-color: whitesmoke;
        padding-top: 50px;
        padding-bottom: 50px;
    }

   /* #propaganda2{
        background-color: orangered;
        
    }*/
    
/*#demostracao div{
        float: left;

    } */

    #demostracao div img{
       width: 100%;
       padding: 60px;
    }

    #demostracao div img:hover{
        border: solid 2px #88888888;
        padding: 20px;
        
    }

    #propaganda1, #propaganda2{
        padding: 0;
    }

/* navegação*/

    nav {
    position: sticky;
    top: 0;
    height: auto;
    min-height: 60px;
    width: 100%;
    float: left;
    }

    nav ul{

        display:block;   
    }

    nav ul li{
        display: inline-block;
        line-height: 49px;
    }

    nav ul li a {
     color: green;
     text-decoration: none;
     padding-left: 25px;
     padding-right: 25px;
     padding-top: 16px;
     padding-bottom: 16px;
 }

    nav ul li a:hover{
        Color: white;
        background-color:green;
    }

  .logo{
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 10;
    }
    .produtos{
        border-radius: 5px;
        border: solid 1px #888;
    }

    .produtos input, .produtos button{
        border-radius: 5px;
        border: solid 1px #888; 
        padding: 5px;
    }

    .produtos img{
        border-radius: 5px 5px 0 0 ;
    }

    .produtos-img{
        min-height: 150px;
        background-image: url(../Imagens/roupa\ 1.jpg);
        background-position: center;
        background-size: cover;
    }