
    header {
        background-image: url(../Imagens/fundo\ 1.jpg);
        text-align:center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-position: center;
        background-size: cover;
        height: auto;
        min-height: 200px;
    }

   /* areas*/

    section{
        height: 100%;
        min-height: 250px;
        padding: 80px 0;
    }

    #propaganda1{
        background-color: orangered;
        
    }

   #demostracao{
        background-color: whitesmoke;
        padding-top: 50px;
        padding-bottom: 50px;
    }

   /* #propaganda2{
        background-color: orangered;
        
    }*/
    
/*#demostracao div{
        float: left;

    } */

    #demostracao div img{
       width: 100%;
       padding: 60px;
    }

    #demostracao div img:hover{
       /* border: solid 2px #88888888;*/
        padding: 20px;
        
    }

    #propaganda1, #propaganda2, #propaganda3, #sugestao1, #sugestao2{
        padding: 0;
    }

/* navegação*/

   /* nav {
    position: sticky;
    top: 0;
    height: auto;
    min-height: 60px;
    width: 100%;
    float: left;
    }

    nav ul{

        display:block;   
    }

    nav ul li{
        display: inline-block;
        line-height: 49px;
    }

    nav ul li a {
     color: green;
     text-decoration: none;
     padding: 15px 25px;
     /*padding-left: 25px;
     padding-right: 25px;
     padding-top: 16px;
     padding-bottom: 16px;
 }*/
    .navbar{
      padding: 0;
    }

    .nav-item a:hover{
        Color: white;
        background-color:green;
        border-bottom: solid 5px white;
        font-weight: bold;

    }
    .nav-ligth .navbar-nav .nav-link{
        color: white !important

    }
    
  .logo{
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 10px;
    }

    .logo img{
        max-height: 180px;
    }

    .produtos{
        border-radius: 5px;
        border: solid 1px #888;
    }

    .produtos input, .produtos button{
        border-radius: 5px;
        border: solid 1px #888;
        padding: 5px;
    }

    .produtos img{
        border-radius: 5px 5px 0 0 ;
    }

    .produtos-img{
        height: auto;
        min-height: 250px;
       /* background-image: url(../Imagens/roupa\ 1.jpg);*/
        background-position: center;
        background-size: cover;
        font-size: 0.9375em;
    }

    .vertical{
        display: table-cell;vertical-align: middle
    }

    .border-circle{
        border-radius: 25px;
    }

    .produtos button{
       border-radius: 5px;
       border: solid 1px black;
       padding: 5px;
    }

    .responsive{
        width: 100%;
    }

    .btnVoltar {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        font-size: 2em;
        /* border: solid 3px;
        border-radius: 50px; */
    }

    .btnVoltar a {
        text-decoration: none;
    }

    a {
        color: orangered;
    }

    .imgBG1, .imgBG2, .imgBG3, .imgBG4, .imgBG5{
        background-size: cover;
        background-position: center;
        min-height: 350px;
    }

    .imgBG1 { background-image: url(../imagens/promo.jpg);}

    .imgBG2 { background-image: url(../imagens/promoçãoblackfriday.png);}
    
    .imgBG3 { background-image: url(../imagens/acessorios.jpg);}

    .imgBG4 { background-image: url(../imagens/girl-1.jpg);}

    .imgBG5 { background-image: url(../imagens/hom-fig1.jpg);}

    .size{
        max-width: 700px;
        min-height: 700px;
    }
    


    @media screen and (max-width:760px){
     .fui{display: none;}
     .logo{
         width: 100%;
         text-align: center;

         }
    }
